.root {
  appearance: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  padding: 8px;
  font-size: 22px;
  font-weight: 600;
}

.underline {
  margin-top: 8px;
  height: 1px;
  width: 25%;
  background-color: white;
}
